.capa {

    background-color: #A4A4A4;
    
}

#blanco {
    
    color:white;
}

.bg-primary-azul {
    background-color: #007CBA;
    
}

.bg-primary-amarillo {
    background-color: #F6B221;
    
}

.bg-primary-verde {
    background-color: #00945D;
    
}

.bg-primary-naranja {
    background-color: #58D3F7;
    
}

.bg-primary-blanco {
    background-color: #FFFFFF;
    
}